.audience {
    overflow-x: auto;
    @include card-style;
    grid-column: span 15;
    display: grid;
    grid-template-rows: 28px 1fr;
    grid-gap: 24px;
    min-width: 768px;

    &__heading {
        @include flex;
    }

    &__title {
        @include card-title;
    }

    &__date {
        position: relative;
        font-weight: $regular-text;
        font-size: 12px;

        &:after {
            @include dropdown;
            top: 3px;
            right: -16px;
        }
    }

    .checkbox-group {
        @include flex;

        &__check {
            height: 16px;
            width: 16px;
            margin-right: 5px;
        }

        &__name {
            margin-right: 10px;
            font-size: 12px;
            font-weight: 300px;
        }
    }

    .audience__img {
        justify-self: center;
    }
}