.audience {
    overflow-x: auto;
    @include card-style;
    grid-column: span 15;
    display: grid;
    grid-template-rows: 28px 1fr;
    grid-gap: 24px;
    min-width: 768px;

    &__heading {
        @include flex;
    }

    &__title {
        @include card-title;
    }

    &__date {
        position: relative;
        font-weight: $regular-text;
        font-size: 12px;

        &:after {
            @include dropdown;
            top: 3px;
            right: -16px;
        }
    }

    &__checkbox {
        position: relative;
        display: block;
    }

    &__check {
        display: none;
    }

    i {
        position: absolute;
        top: 0;
        left: -20px;
        width: 16px;
        height: 16px;
        border: 1.5px solid $violet-color;
        border-radius: 5px;
    }

    &__checkbox-name {
        margin-right: 10px;
        font-size: 12px;
        font-weight: $regular-text;
    }

    &__check:checked ~ i {
        background: url(../../img/icons/content/checkbox.png) no-repeat center center;
    }

    &__checkbox-group {
        @include flex;
        width: 115px;
    }

    &__img {
        justify-self: center;
    }
}