.menu-btn {
    position: absolute;
    z-index: 1;
    display: none;
    top: calc(50% - 15px);
    right: 43px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &__burger {
        position: absolute;
        top: 15px;
        left: 0px;
        height: 4px;
        width: 30px;
        background: $text-color;

        &:before {
            content: '';
            position: absolute;
            top: -10px;
            left: 0;
            height: 4px;
            width: 30px;
            background: $text-color;
        }
        
        &:after {
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            height: 4px;
            width: 30px;
            background: $text-color
        }
    }
}