.device {
    @include card-style;
    grid-column: span 6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px 1fr;
    grid-gap: 25px;
    min-width: 287px;

    &__title {
        @include card-title;
        grid-column: span 2;
    }

    &__img {
        align-self: start;
        justify-self: center;
    }

    &__variants {
        padding-top: 15px;
    }

    &__variant {
        position: relative;
        margin-bottom: 13px;
        font-size: 12px;
        font-weight: $medium-text;

        &--mobile:before {
            @include diagram-value($pink-color);
        }

        &--desktop:before {
            @include diagram-value($violet-color);
        }
    }
}