.gender {
    @include card-style;
    grid-column: span 13;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px 1fr;
    grid-gap: 21px;
    min-width: 674px;

    &__title {
        @include card-title;
    }

    &__variants {
        @include flex;
        align-self: center;
        justify-self: end;
    }

    &__variant {
        position: relative;
        margin-bottom: 13px;
        font-size: 12px;
        font-weight: $medium-text;

        &--women {
            margin-right: 39px;
        }

        &--women:before {
            @include diagram-value($pink-color);
        }

        &--men:before {
            @include diagram-value($pink-color);
        }
    }

    &__img {
        grid-column: span 2;
        justify-self: center;
    }
}