.geo {
    @include card-style;
    grid-column: span 8;

    &__heading {
        @include flex;
        margin-bottom: 20px;
    }

    &__title {
        @include card-title;
    }

    &__options {
        @include flex;
    }

    &__option {
        font-size: 12px;
        font-weight: $bold-text;

        &--inert {
            margin-left: 10px;
            color: $value-color;
            font-weight: $medium-text;
        }
    }

    &__body {
        @include flex;
        flex-flow: row wrap;
    }

    &__item {
        width: 140px;
        margin-bottom: 21px;
    }

    &__text {
        @include flex;
        margin-bottom: 9px;
        font-size: 12px;
        font-weight: $text-color;
        color: $value-color;
    }

    &__progress {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 10px;
        background: #4D4D4D;
        border-radius: 9px;

        &:before {
            position: absolute;
            content: '';
            left: 0;
            display: inline-block;
            width: 0px;
            height: 100%;
            background: $violet-color;
            border-radius: 6px;
        }

        &--russia:before {
            width: 91%;
        }

        &--china:before {
            width: 9%;
        }

        &--ukraine:before {
            width: 3.5%;         
        }

        &--usa:before {
            width: 3.5%;
        }

        &--mongolia:before {
            width: 3%;
        }
                
        &--other:before {
            width: 11%;
        } 
    }
}