.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__heading {
        width: 372px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: 30px;
        font-weight: 500;
    }

    &__form {
        height: 32px;
        padding-left: 18px;
        display: flex;
        align-items: center;
        border: 1px solid #4C4C4C;
        border-radius: 8px;
    }

    &__button {
        width: 12px;
        margin-right: 11px;
        border: none;
        background: url(../../img/icons/header/search-btn.svg) no-repeat center center;
    }

    &__input {
        width: 102px;
        font-size: 12px;
        font-weight: 300;
        color: #979797;
        background: none;
        border: none;
    }

    &__notification {
        cursor: pointer;

        &:hover {
            animation-name: notification;
            animation-duration: 0.2s;
            animation-iteration-count: 2;
        }
    }

    &__user {
        display: flex;
        align-items: center;
        position: relative;

        :after {
            @include dropdown;
            left: 115px;
            top: 25px;
        }
    }

    &__name {
        margin-right: 11px;
        font-size: 20px;
        font-weight: 400;
    }

    &__avatar {
        margin-right: 20px;
    }
}