.header {
    @include flex;

    &__heading {
        width: 372px;
        @include flex;
    }

    &__title {
        font-size: 30px;
        font-weight: $bold-text;
    }

    &__form {
        @include flex;
        height: 32px;
        padding-left: 18px;
        border: $border;
        border-radius: 8px;
    }

    &__button {
        width: 12px;
        height: 16px;
        margin-right: 11px;
        border: none;
        background: url(../../img/icons/header/search-btn.svg) no-repeat center center;
    }

    &__input {
        width: 102px;
        font-size: 12px;
        font-weight: $regular-text;
        color: $value-color;
        background: none;
        border: none;
    }

    &__notification {
        cursor: pointer;

        &:hover {
            animation: notification 0.2s 2;
        }
    }

    &__user {
        @include flex;
        position: relative;

        &:after {
            @include dropdown;
            left: 115px;
            top: 25px;
        }
    }

    &__name {
        margin-right: 11px;
        font-size: 20px;
        font-weight: $medium-text;
    }

    &__avatar {
        margin-right: 20px;
    }
}