@mixin flex($justify-content: space-between) {
    display: flex;
    align-items: center;
    justify-content: $justify-content;
}

@mixin card-style {
    padding: 23px;
    background: $card-color;
    border: $border;
    border-radius: 13px;
}

@mixin card-title {
    font-weight: 500;  
    font-size: 20px;  
}

@mixin dropdown {
    position: absolute;
    width: 12px;
    height: 6px;
    content: '';
    background: url(../../img/icons/header/dropdown.svg) no-repeat center center;
    cursor: pointer;
}

@mixin arrows($background: url(../../img/icons/content/arrow-up.svg) no-repeat center center) {
    position: absolute;
    top: 0;
    right: -16px;
    width: 12px;
    height: 20px;
    content: '';
    background: $background;
    animation: arrow 1s infinite;  
}

@mixin diagram-value($background) {
    position: absolute;
    top: -3px;
    left: -25px;
    width: 18px;
    height: 18px;
    content: '';
    background: $background;
    border-radius: 5px;
}